* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 295px;
    

    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    padding : 3rem 2rem 4rem 2rem;
}

.advice {
    color: hsl(193, 38%, 86%);
    text-align: center;  
    font-size: 28px;
}

.advice::before {
    content : '"';
}

.advice::after {
    content : '"';
}

.divider {
    width: 100%;
    height: 16px;
    background-image: url(./images/pattern-divider-mobile.svg);
    background-position: center;

}

.dice {
    position: absolute;
    width : 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('./images/icon-dice.svg');
    background-color: hsl(150, 100%, 66%);
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;

    bottom : -30px;
    transition: 300ms box-shadow ease-in;
}

.dice:hover {
    box-shadow: 0px 0px 25px hsl(150, 100%, 66%);
}
/* ========
    TYPO
========== */

.card h1 {
    font-size: 0.6rem;
    letter-spacing: .3rem;
    color : hsl(150, 100%, 66%); 
    text-transform: uppercase;
}

footer a {
    color:hsl(150, 100%, 66%);
}

/* ========
   MEDIA QUERIES
========== */

@media screen and (min-width : 480px) {
    .card {
        width : 444px;
    }
    .divider {
        background-image: url(./images/pattern-divider-desktop.svg);
         
    }

    
}